DJANGO_SECRET_KEY=cambie-esta-clave-secreta
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,77.237.247.211,guarderia.kidscenter.cloud
DJANGO_CSRF_TRUSTED_ORIGINS=https://guarderia.kidscenter.cloud
# En el servidor de producción, quite el comentario de las dos líneas siguientes:
# DJANGO_STATIC_ROOT=/var/www/guarderia/staticfiles
# DJANGO_MEDIA_ROOT=/var/www/guarderia/media
POSTGRES_DB=guarderia
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
